<div class="title_modal_bar">
  <p>Register</p>
</div>

<ion-content>
  <form #form_register="ngForm">
    <div class="ion-padding">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input name="name" type="text" [(ngModel)]="name" required minlength="2"
          pattern="[a-zA-Z 0-9-_.,()]*"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" email="true" type="text" [(ngModel)]="email" required minlength="2">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="password" required minlength="2">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repeat Password</ion-label>
        <ion-input name="password2" type="password" [(ngModel)]="password2" required
          minlength="2"></ion-input>
      </ion-item>
    </div>
    <div class="buttons">
      <ion-button type="button" size="large" (click)="sendRegister(form_register);" fill="outline" color="primary"
        [disabled]="form_register.invalid">
        Sign up</ion-button>
    </div>
  </form>
</ion-content>