@import "../../../theme/variables.scss";
@import "../../components/fabrics/fabrics.component.scss";

$top_bar_height: 50px;

#hidden_container {
  position: absolute;
  top: 900%;
}

.topOrder {
  display: flex;
  flex-direction: row;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  margin: 0px;
  border-top: 1px solid $secondary_color;
  top: $top_bar_height;
  left: 0;
  right: 0;
  bottom: 0;
}

.buttons {
  position: absolute;
  bottom: 10px;
  padding-top: 10px;
  height: 55px;
  align-self: flex-end;
}
