<div class="title_modal_bar">
  <p>SPO</p>
</div>

<ion-content>
  <div class="container">
    <div class="topOrder">
      <ion-item lines="none">
        <ion-label id="labelRef">Order Ref #{{reference}}</ion-label>
      </ion-item>
      <ion-item lines="none" style="flex-grow: 1;">
        <ion-label id="labelClient">{{client.department}} / {{client.name}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-input id="inputFabricText" style="min-width: 50px;" [(ngModel)]="inputFabricText"
          placeholder="Enter VX Fabric" [hidden]=inputHidden>
        </ion-input>
        <ion-button size="default" (click)="addFabricManually();" [hidden]=inputHidden type="submit" color="primary"
          fill="outline">
          Insert</ion-button>
      </ion-item>
    </div>
    <div class="gridContainer">
      <ag-grid-angular #agGrid style="width: 100%; height: calc(100% - 55px);" id="myGrid" class="ag-theme-material"
        [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [rowData]="rowData"
        [suppressRowClickSelection]="true" [suppressCellSelection]="true" [context]="context"
        [frameworkComponents]="frameworkComponents">
      </ag-grid-angular>
      <div class="buttons">
        <ion-button size="large" (click)="scan();" type="submit" color="secondary" [hidden]=scanning
          [disabled]=scanDisabled color="primary" fill="outline">Scan
        </ion-button>
        <ion-button size="large" (click)="stopScan()" color="danger" fill="outline" [hidden]=!scanning
          [disabled]=stopScanDisabled>Stop Scan</ion-button>
        <ion-button size="large" (click)="generateOrder();" [hidden]=scanning [disabled]=generateDisabled type="submit"
          color="primary" fill="outline">
          Save Order</ion-button>
          <ion-button size="large" (click)="download();" [disabled]=!canDownloadOrder [hidden]=downloadHidden color="success"
          fill="outline">
          Download SPOs</ion-button>
        <ion-button size="large" (click)="remove();" [hidden]=removeHidden type="submit" color="danger"
          fill="outline">
          Remove SPO</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<div id="hidden_container">
  This should not be displayed in your screen :)
  <div class="container" *ngFor="let item of array_of_cards">
    <div class="card">
      <div id="pdf-area" class="tag">
        <div class="area">
          <div class="top">
            <div class="cell bold">Code</div>
            <div class="cell bold">{{ item.supplier }}</div>
            <div class="cell bold">Composition</div>
            <div class="cell bold">{{ item.composition }}</div>
            <div class="cell bold">Construction</div>
            <div class="cell bold">{{ item.construction }}</div>
            <div class="cell bold">Width (cm)</div>
            <div class="cell bold">{{ item.width }}</div>
            <div class="cell bold">Weight (g/m²)</div>
            <div class="cell bold">{{ item.weight }}</div>
            <div class="cell bold">Type</div>
            <div class="cell bold">{{ item.type }}</div>
            <div class="cell bold">Comments</div>
            <div class="cell bold">{{ item.comments }}</div>
            <div class="cell bold">Date</div>
            <div class="cell bold">{{ item.date }}</div>
          </div>
          <div class="bottom">
            <img id="logo" src="assets/VX_International.png" />
            <p id="id">{{item.vx}}</p>
            <img id="qr" [src]="item.vx_logo" />
          </div>
        </div>
        <p class="code">
          {{item.code}}
        </p>
      </div>
    </div>
  </div>
</div>