<ion-content>
    <img class="vifrex_background" src="./assets/VX_Barcelona.png">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-sm="12" size-md="11" size-lg="8">
                <div class="title_modal_bar">
                    <p>Purchase Order</p>
                </div>
                <div class="PO_container">
                    <form #form="ngForm">
                        <ion-item class="modifyPO">
                            <div style="width: 75%; display: flex;">
                                <ion-item style="width: 90%; padding: 5px">
                                    <ion-label position="floating">Vifrex fabric Code</ion-label>
                                    <ion-input name="code" type="text" [(ngModel)]="code" required minlength="8">
                                    </ion-input>
                                </ion-item>
                                <ion-item style="width: 100%; height: 100%; padding: 12px">
                                    <ion-label position="fixed">Client   </ion-label>
                                    <ion-select class="selector" #Selector
                                        (ionChange)="onChange(Selector.value)" interface="popover">
                                        <ng-template [ngIf]="customers?.length > 0" [ngIfElse]="notResults">
                                            <ion-select-option *ngFor="let customer of customers" [value]="customer">{{customer.name}}</ion-select-option>
                                        </ng-template>
                                        <ng-template #notResults>
                                    
                                        </ng-template>
                                    </ion-select>
                                </ion-item>
                            </div>
                            <div class="buttons">
                                <ion-button type="button" size="large" shape="round" slot="end"
                                    (click)="createPOBcn(form)" [disabled]="form.invalid" color="primary"
                                    fill="outline">PO VX BCN
                                </ion-button>
                            </div>
                            <div class="buttons">
                                <ion-button type="button" size="large" shape="round" slot="end"
                                    (click)="createPOInt(form)" [disabled]="form.invalid" color="primary"
                                    fill="outline">PO VX INT
                                </ion-button>
                            </div>
                        </ion-item>
                    </form>
                    <div id="topBar">
                        <ion-input type="text" class="searchTerm" placeholder="Search by reference"
                            [(ngModel)]="reference" (ionChange)="filter();"></ion-input>
                        <button type="submit" class="searchButton" (click)="filter();">
                            <ion-icon name="search" style="zoom: 1.7;"></ion-icon>
                        </button>
                    </div>
                    <div class="listOfFinalOrders">
                        <ion-radio-group [(ngModel)]="selection">
                            <ng-template [ngIf]="filtered_POs?.length > 0" [ngIfElse]="notResults">
                                <ion-item *ngFor="let finalOrder of filtered_POs" class="finalOrder">
                                    <ion-label>{{finalOrder.reference}} ({{finalOrder.date}}) - {{finalOrder.client}}
                                    </ion-label>
                                    <ion-radio slot="end" [value]="finalOrder"></ion-radio>
                                </ion-item>
                            </ng-template>
                            <ng-template #notResults>
                                <ion-item lines="none" style="text-align: center; font-size: 6rem; margin: 0 auto;">
                                    <ion-label>...</ion-label>
                                </ion-item>
                            </ng-template>
                        </ion-radio-group>
                        <div [hidden]=!loading
                            style="position: absolute; bottom: 100px; right: 60px; background: white; border-radius: 5px; display: flex; flex-direction: row; justify-content: center; align-content: center; border: 2px solid black; padding: 10px;">
                            <h3 style="margin: 0; margin-right: 10px;">Loading...</h3>
                            <ion-spinner name="bubbles" style="background: transparent;"></ion-spinner>
                        </div>
                    </div>
                    <div class="buttons">
                        <ion-button type="button" size="large" (click)="modifyPO()" slot="end" shape="round"
                            color="primary" fill="outline" [disabled]="!selection">Modify PO</ion-button>
                        <ion-button type="button" size="large" (click)="refresh()" fill="none">Reload</ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <fab-sideBar></fab-sideBar>
</ion-content>