<img class="vifrex_background" src="./assets/VX_Barcelona.png">
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col id="fabrics_form" class="ion-align-self-center">
      <form #form="ngForm">
        <div class="title_modal_bar">
          <p *ngIf="isThisModal">Edit Fabric</p>
          <p *ngIf="!isThisModal">Create Fabric</p>
        </div>
        <div class="ion-padding">
          <ion-item>
            <ion-label position="floating">Supplier Code</ion-label>
            <ion-input name="supplier" type="text" [(ngModel)]="supplier" (ionBlur)="checkFabricCode($event)" required pattern="[0-9]*"
              [disabled]=isThisModal>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fabric code</ion-label>
            <ion-input name="code" type="text" [(ngModel)]="code" (ionBlur)="checkFabricCode($event)" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Composition (00% material / 00% material)</ion-label>
            <ion-input name="composition" type="text" [(ngModel)]="composition" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Construction</ion-label>
            <ion-input name="construction" type="text" [(ngModel)]="construction" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Width (cm)</ion-label>
            <ion-input name="width" type="text" [(ngModel)]="width" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Weight (g/m²)</ion-label>
            <ion-input name="weight" type="text" [(ngModel)]="weight" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Type (Dves/Prn/Y.D)</ion-label>
            <ion-input name="type" type="text" [(ngModel)]="type" required minlength="2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Comments [Optional]</ion-label>
            <ion-input name="comments" type="text" [(ngModel)]="comments">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Finishing [Optional]</ion-label>
            <ion-input name="finishing" type="text" [(ngModel)]="finishing">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Price [Optional]</ion-label>
            <ion-input name="price" type="text" [(ngModel)]="price">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Vifrex Price [Optional]</ion-label>
            <ion-input name="vifrex_price" type="text" [(ngModel)]="vifrex_price">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fabric description [Optional]</ion-label>
            <ion-input name="fabric_description" type="text" [(ngModel)]="fabric_description"></ion-input>
          </ion-item>
        </div>
        <div class="buttons">
          <ng-template [ngIf]="isThisModal" [ngIfElse]="notModal">
            <ion-button size="large" (click)="modifyFabric();" fill="outline" color="primary" [disabled]="form.invalid">
              Modify</ion-button>
            <ion-button size="large" (click)="removeFabrics()" fill="outline" color="danger" [disabled]="form.invalid">
              Remove
            </ion-button>
            <ion-button size="large" (click)="saveTag()" fill="outline" color="primary" [disabled]="form.invalid">Save
              Tag
            </ion-button>
          </ng-template>
          <ng-template #notModal>
            <ion-button size="large" (click)="addFabric(form);" fill="outline" color="primary"
              [disabled]="form.invalid">
              Add</ion-button>
            <ion-button size="large" (click)="pasteForm()" color="primary" fill="none">Paste Previous</ion-button>
          </ng-template>
        </div>
      </form>
    </ion-col>
    <ion-col class="ion-align-self-center">
      <div class="card">
        <div id="pdf-area" class="tag">
          <div class="area">
            <div class="top">
              <div class="cell bold">Code</div>
              <div class="cell bold">{{ supplier }}</div>
              <div class="cell bold">Composition</div>
              <div class="cell bold">{{ composition }}</div>
              <div class="cell bold">Construction</div>
              <div class="cell bold">{{ construction }}</div>
              <div class="cell bold">Width (cm)</div>
              <div class="cell bold">{{ width }}</div>
              <div class="cell bold">Weight (g/m²)</div>
              <div class="cell bold">{{ weight }}</div>
              <div class="cell bold">Type</div>
              <div class="cell bold">{{ type }}</div>
              <div class="cell bold">Comments</div>
              <div class="cell bold">{{ comments }}</div>
              <div class="cell bold">Date</div>
              <div class="cell bold">{{ date }}</div>
            </div>
            <div class="bottom">
              <img id="logo" src="assets/VX_International.png" />
              <p id="id">{{vx}}</p>
              <img id="qr" />
            </div>
          </div>
          <p class="code">
            {{code}}
          </p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>