ion-grid {
  margin: 0;
  padding: 0;
  height: 100%;
}

ion-row {
  height: 100%;
}

ion-col {
  min-width: 580px;
  padding: 16px
}

.title_modal_bar {
  border-radius: 10px 10px 0 0;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 10px 10px;  
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.5);
  max-width: 700px;
  margin: 0 auto;
  // border: 2px solid black;
}

.buttons {
  align-self: flex-end;
  padding: 16px;
}

$width-card: 110mm;
$height-card: 50mm;

[class*="cell"] {
  font-size: 0.6em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  align-self: center;
}

.bold {
  font-weight: bolder;
}

.card {
  padding: 5px;
  margin: 32px auto;
  width: $width-card;
  height: $height-card;
  border-radius: 15px;
  zoom: 1.5;
  -moz-transform: scale(1.2);
  box-shadow: 2px 2px 19px 0px rgba(0, 0, 0, 0.45);
  background: white;
}

.tag {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 35px;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  background: white;
}

.code {
  writing-mode: vertical-rl;
  font-size: 12px;
  margin-right: 2px;
  font-weight: bolder;
  align-self: center;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45% 55%;
  grid-gap: 0px;
  background: white;
}

$padding-content-card: 5px;

.top {
  display: grid;
  grid-template-columns: 20% 30% 20% 30%;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0px;
  padding: $padding-content-card;
  padding-bottom: 0;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 0px;
  padding: $padding-content-card;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  justify-self: start;
  align-self: end;
}

#id {
  justify-self: start;
  align-self: end;
  margin: 0;
  // ---
  font-family: "Gothic A1", sans-serif;
  font-size: 1em;
  font-weight: bolder;
}

#qr {
  height: 100%;
  max-width: 100%;
  justify-self: end;
  align-self: center;
}
