// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

$primary-color: white;
$secondary-color: #28262C;
$tertiary-color: #28262C;
$background-color: #EDF2F4;
$background-alt-color: #F9F5FF;

// $gradient: linear-gradient(270deg, rgb(17, 17, 17) 0%,rgb(58, 58, 58) 100%);
$gradient: black;


/** Ionic CSS Variables **/
:root {
  --ion-grid-width-xs: 100%;
  --ion-grid-width-sm: 540px;
  --ion-grid-width-md: 720px;
  --ion-grid-width-lg: 960px;
  --ion-grid-width-xl: 1140px;

  /** primary **/
  --ion-color-primary: black;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: white;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(51, 51, 51);
  --ion-color-primary-tint: rgb(51, 51, 51);

  /** secondary **/
  --ion-color-secondary: white;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: black;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(51, 51, 51);
  --ion-color-primary-tint: rgb(51, 51, 51);

  /** tertiary **/
  --ion-color-tertiary: #28262C;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: black;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(51, 51, 51);
  --ion-color-primary-tint: rgb(51, 51, 51);

  /** success **/
  --ion-color-success: #207241;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #DB6D7F;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}