<ion-content>
  <img style="position: absolute; object-fit: cover; top: 0; right: 0; width:100%; height: 100%;"
    src="./assets/burras.jpeg">
  <div class="master">
    <form class="authBox" #form="ngForm" (ngSubmit)="doLogin(form)">
      <div class="greeting">
        <h1>VIFREX STUDIO</h1>
        <div class="international">
          <h3>B</h3>
          <h3>A</h3>
          <h3>R</h3>
          <h3>C</h3>
          <h3>E</h3>
          <h3>L</h3>
          <h3>O</h3>
          <h3>N</h3>
          <h3>A</h3>
        </div>
      </div>
      <ion-item class="input">
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" id="email" type="text" class="form-control" ngModel required
          pattern="[a-zA-Z 0-9-_.,@]*"></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" id="passwd" type="password" ngModel required></ion-input>
      </ion-item>
      <!-- <button class="clickable">Forgot your Password?</button> -->
      <div>
        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Log in</ion-button>
      </div>
      <div class="registerField">
        <p>Need an account?</p><button type="button" class="clickable" (click)="doRegister()">Register</button>
      </div>
    </form>
  </div>
</ion-content>