@import "../../../theme/variables.scss";

ion-content {
    --background: #28262C;
}

p {
    margin: 0;
}

.master {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.authBox {
    width: 500px;
    height: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    z-index: 100;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.greeting h1 {
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;
}

.greeting h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.international {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
}

.input {
    margin-bottom: 10px;
}

.showPasswd {
    background-color: transparent;
}

.clickable {
    background: none;
    border: none;
    font-weight: bolder;
    color: $secondary-color;
}

.registerField {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 10px;
}