@import "../theme/variables.scss";

$sideButton_height: 50px;
$topBar_height: 70px;

// ion-header ion-toolbar:first-child {
//   padding-top: 0;
// }

ion-menu {
  --border: 2px groove black;
}

// ion-title {
//   font-size: 2rem;
//   font-weight: bold;
//   height: $topBar_height;
//   color: black;
// }

.greeting {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.greeting h1 {
  font-size: 2rem;
  margin: 0 auto;
  background: white;
}

.greeting h3 {
  margin: 0 auto;
}

.international {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
}

.profileStrip {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  margin: 15px 0 15px 25px;
}

.profileStrip p {
  margin-left: 70px;
  margin-right: 15px;
  font-size: 0.8em;
  // font-weight: bold;
  color: black;
  transition: 0.3s -webkit-filter linear;
}

.profileStrip img {
  zoom: 0.8;
  -moz-transform: scale(0.8);
}

.sideList {
  display: flex;
  flex-direction: column;
}

.sideButton {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  height: $sideButton_height;
  margin-right: 20px;
  padding: 2.5px 0;
  border: 2px solid white;
  border-radius: 0 $sideButton_height $sideButton_height 0;
  // border-radius: 0 10px 10px 0;
  color: black;
  background: transparent;
}

.sideButton:hover {
  color: black;
  background: white;
  transition: 0.3s ease-in;
  text-decoration: 2px underline;
}

.sideButton.selected {
  background: $gradient;
  color: white;
  border: 2px solid black;
  font-weight: bolder;
  border-left: 0px;
  transition: 0.3s ease-in;
}

.sideButton.selected:hover {
  background: $gradient;
}

.sideButton ion-icon {
  display: none;
  // align-self: center;
  // margin: 0 10px;
  // zoom: 1.4;
  // -moz-transform: scale(1.4);
}

.sideButton p {
  justify-self: start;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}