<ion-app>
  <ion-split-pane contentId="my-content">
    <ion-menu side="start" id="sideBar" contentId="my-content" menuId="menu" type="overlay">
      <ion-header no-border>
        <!-- <ion-toolbar color="secondary"> -->
          <!-- <ion-title>Vifrex Studio</ion-title> -->
          <div class="greeting">
            <h1>VIFREX STUDIO</h1>
            <div class="international">
              <h3>B</h3>
              <h3>A</h3>
              <h3>R</h3>
              <h3>C</h3>
              <h3>E</h3>
              <h3>L</h3>
              <h3>O</h3>
              <h3>N</h3>
              <h3>A</h3>
            </div>
          </div>
        <!-- </ion-toolbar> -->
      </ion-header>
      <ion-content color="secondary">
        <div class="profileStrip">
          <ion-fab>
            <ion-fab-button (click)="fabToggle();" color="light">
              <img src="./assets/logo_dark.png" class="vxLogo">
            </ion-fab-button>
            <ion-fab-list side="end">
              <ion-fab-button (click)="settings();">
                <ion-icon name="settings"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="danger" (click)="logout();">
                <ion-icon name="log-out"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
          <p id="profileEmail">{{email}}</p>
        </div>
        <div class="sideList">
          <button id="home" class="sideButton" (click)="goTo('home')">
            <!-- <ion-icon name="home"></ion-icon> -->
            <p>Browser</p>
          </button>
          <button id="fabrics" class="sideButton" (click)="goTo('fabrics')">
            <!-- <ion-icon name="pricetags"></ion-icon> -->
            <p>Create Fabric</p>
          </button>
          <button id="suppliers" class="sideButton" (click)="goTo('suppliers')">
            <!-- <ion-icon name="cube"></ion-icon> -->
            <p>Create Supplier</p>
          </button>
          <button id="customers" class="sideButton" (click)="goTo('customers')">
            <!-- <ion-icon name="person-add"></ion-icon> -->
            <p>Create Customers</p>
          </button>
          <button id="orders" class="sideButton" (click)="goTo('orders')">
            <!-- <ion-icon name="filing"></ion-icon> -->
            <p>Orders</p>
          </button>
          <button id="orders-invoice" class="sideButton" (click)="goTo('orders-invoice')">
            <!-- <ion-icon name="filing"></ion-icon> -->
            <p>Purchase Orders</p>
          </button>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="my-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>