<ion-content>
  <img class="vifrex_background" src="./assets/VX_Barcelona.png">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-sm="12" size-md="11" size-lg="8">
        <customers></customers>
      </ion-col>
    </ion-row>
  </ion-grid>
  <fab-sideBar></fab-sideBar>
</ion-content>