@import "../../../theme/variables.scss";

ion-grid {
  padding: 0;
  margin: 0;
  height: 100%;
}

ion-row {
  height: 100%;
  padding: 15px;
}

.title_modal_bar {
  border-radius: 10px 10px 0 0;
}

$top_bar_height: 48px;
$search_height: 40px;

#topBar {
  display: flex;
  height: $top_bar_height;
  width: 100%;
  padding: 0px 10px;  
  background-color: $primary_color;
}

.searchTerm {
  width: 100%;
  height: $search_height;
  margin-bottom: 8px;
  padding: 15px;
  border: 2px solid $secondary_color;
  border-radius: 20px 0 0 20px;
  border-right: none;
  outline: none;
  color: $secondary_color;
}

.searchTerm:focus {
  color: $secondary_color;
}

.searchButton {
  width: 50px;
  height: $search_height;
  margin-bottom: 8px;

  border-radius: 0 20px 20px 0;

  color: white;
  background-color: $secondary_color;
  cursor: pointer;
}

.makeSPO_container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  padding: 8px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.5);
}

.listOfCustomers {
  overflow: auto;
  flex-grow: 1;  
}

.customer {
  display: flex;
  flex-direction: row;
  align-content: center;
  border-radius: 8px;
  margin: 5px;
}

.buttons {
  justify-self: flex-end;
  align-self: flex-end;
  padding: 8px;
}
