<ion-content>
    <img class="vifrex_background" src="./assets/VX_Barcelona.png">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-sm="12" size-md="11" size-lg="8">
                <div class="title_modal_bar">
                    <p>Create SPO</p>
                </div>
                <div class="makeSPO_container">
                    <div id="topBar">
                        <ion-input type="text" class="searchTerm" placeholder="Search by Name" [(ngModel)]="searchField"
                            (ionChange)="filter();"></ion-input>
                        <button type="submit" class="searchButton" (click)="filter();">
                            <ion-icon name="search" style="zoom: 1.7;"></ion-icon>
                        </button>
                    </div>
                    <div class="listOfCustomers">
                        <ion-radio-group [(ngModel)]="selection">
                            <ng-template [ngIf]="filtered_customers?.length > 0" [ngIfElse]="notResults">
                                <ion-item *ngFor="let customer of filtered_customers" class="customer">
                                    <ion-label>{{customer.name}} ({{customer.company}}, {{customer.department}})
                                    </ion-label>
                                    <ion-radio slot="end" [value]="customer"></ion-radio>
                                </ion-item>
                            </ng-template>
                            <ng-template #notResults>
                                <ion-item lines="none" style="text-align: center; font-size: 6rem; margin: 0 auto;">
                                    <ion-label>...</ion-label>
                                </ion-item>
                            </ng-template>
                        </ion-radio-group>
                        <div [hidden]=!loading
                            style="position: absolute; bottom: 100px; right: 60px; background: white; border-radius: 5px; display: flex; flex-direction: row; justify-content: center; align-content: center; border: 2px solid black; padding: 10px;">
                            <h3 style="margin: 0; margin-right: 10px;">Loading...</h3>
                            <ion-spinner name="bubbles" style="background: transparent;"></ion-spinner>
                        </div>
                    </div>
                    <div class="buttons">
                        <ion-button type="button" size="large" (click)="createSPO()" [disabled]="!selection"
                            color="primary" fill="outline">Create SPO
                        </ion-button>
                        <ion-button type="button" size="large" (click)="refresh()" fill="none">Reload</ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <fab-sideBar></fab-sideBar>
</ion-content>