.title_modal_bar {
  border-radius: 10px 10px 0 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.5);
}

.buttons {
  align-self: flex-end;
}