<form #form="ngForm">
  <div class="title_modal_bar">
    <p *ngIf="isThisModal">Edit Supplier</p>
    <p *ngIf="!isThisModal">Create Supplier</p>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Supplier Company Name</ion-label>
      <ion-input name="supplier_name" type="text" [(ngModel)]="supplier_name" minlength="2" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Supplier Company Code</ion-label>
      <ion-input name="supplier_code" type="text" [(ngModel)]="supplier_code" required pattern="[0-9]*" [disabled]=isThisModal>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input name="country" type="text" [(ngModel)]="country" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input name="address" type="text" [(ngModel)]="address" minlength="2" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input name="phone_number" type="text" [(ngModel)]="phone_number" minlength="2" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fax Number [Optional]</ion-label>
      <ion-input name="fax" type="text" [(ngModel)]="fax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Responsible [Optional]</ion-label>
      <ion-input name="contact_person" type="text" [(ngModel)]="contact_person">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Postal Code [Optional]</ion-label>
      <ion-input name="postal_code" type="text" [(ngModel)]="postal_code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fiscal Id. (VAT) [Optional]</ion-label>
      <ion-input name="VAT" type="text" [(ngModel)]="VAT"></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding buttons">
    <ion-button *ngIf="isThisModal" [disabled]="form.invalid" size="large" fill="outline" color="primary"
      (click)="modifySupplier()">
      Modify</ion-button>
    <ion-button *ngIf="isThisModal" [disabled]="form.invalid" (click)="removeSupplier()" size="large" color="danger"
      fill="outline">Remove</ion-button>
    <ion-button *ngIf="!isThisModal" (click)="addSupplier(form)" [disabled]="form.invalid" size="large" fill="outline"
      color="primary">
      Add</ion-button>
  </div>
</form>