<ion-fab id="fab" vertical="bottom" horizontal="start" slot="fixed" (click)="openSidebar()">
  <ion-fab-button>
    <ion-icon name="list-box" style="zoom: 2.5;"></ion-icon>
  </ion-fab-button>
</ion-fab>