/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Angular Grid CSS
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

@import "./theme/variables.scss";

@font-face {
  font-family: "Lato Black";
  src: url("./assets/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

* {
  // font-family: "Gothic A1", sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

*:focus {
  outline: none;
}

.split-pane-visible > ion-menu {
  max-width: 280px !important;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  background: black;
}

.bold {
  font-weight: bold;
}

.vifrex_background {
  position: fixed;
  object-fit: cover;
  bottom: 30px;
  right: 30px;
  width: auto;
  height: 25%;
  opacity: 1.0;
  // filter: blur(1px);
}

ion-searchbar {
  input {
    border-radius: 5px !important;
  }
}

.title_modal_bar {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.title_modal_bar P {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  font-family: "Lato Black", sans-serif;
  font-size: 2rem;
  color: white;
}

.modal-register-css .modal-wrapper {
  display: flex;
  height: 430px;
  width: 450px;
  flex-direction: row;
  border-radius: 15px;
}

.modal-customer-css .modal-wrapper {
  display: flex;
  flex-direction: row;
  width: 643px;
  height: 467px;
  border-radius: 10px;
}

.modal-supplier-css .modal-wrapper {
  display: flex;
  flex-direction: row;
  width: 643px;
  height: 691px;
  border-radius: 10px;
}

.modal-fabric-css .modal-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.modal-settings-css .modal-wrapper {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 275px;
  border-radius: 10px;
}

.modal-common-css .modal-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 85%;
  border-radius: 10px;
}