<div class="container">
  <div id="topBar">
    <button type="submit" class="pdfButton" [hidden]=pdfDownloadHidden (click)="createPDF()">
      <ion-icon name="code-download" style="zoom: 1.7;"></ion-icon>
    </button>
    <input type="text" class="searchTerm" [placeholder]="placeholder" [(ngModel)]="searchField"
      (keyup.enter)="onSearch()">
    <button type="submit" class="searchButton" (click)="onSearch()">
      <ion-icon name="search" style="zoom: 1.7;"></ion-icon>
    </button>
    <ion-buttons>
      <ion-select class="selector gradient-border" #Selector (ionChange)="onChange(Selector.value)" interface="popover">
        <ion-select-option value="fabric">Fabrics</ion-select-option>
        <ion-select-option value="customer" selected>Clients</ion-select-option>
        <ion-select-option value="supplier">Suppliers</ion-select-option>
        <ion-select-option value="order">Orders</ion-select-option>
        <ion-select-option value="finalOrder">POs</ion-select-option>
      </ion-select>
    </ion-buttons>
  </div>

  <div class="gridContainer">
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-material"
      [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData"
      (selectionChanged)="onSelectionChanged(agGrid)" (gridReady)="onGridReady(agGrid, $event)"></ag-grid-angular>
  </div>
</div>

<div [hidden]=!loading style="position: absolute; bottom: 40px; right: 40px; background: white; border-radius: 5px; display: flex; flex-direction: row; justify-content: center; align-content: center; border: 2px solid black; padding: 10px;">
  <h3 style="margin: 0; margin-right: 10px;">Loading...</h3>
  <ion-spinner name="bubbles" style="background: transparent;"></ion-spinner>
</div>

<div id="hidden_container" [hidden]=hiddenContainer>
  This should not be displayed in your screen :)
  <div class="container" *ngFor="let item of array_of_cards">
    <div class="card">
      <div id="pdf-area" class="tag">
        <div class="area">
          <div class="top">
            <div class="cell bold">Code</div>
            <div class="cell bold">{{ item.supplier }}</div>
            <div class="cell bold">Composition</div>
            <div class="cell bold">{{ item.composition }}</div>
            <div class="cell bold">Construction</div>
            <div class="cell bold">{{ item.construction }}</div>
            <div class="cell bold">Width (cm)</div>
            <div class="cell bold">{{ item.width }}</div>
            <div class="cell bold">Weight (g/m²)</div>
            <div class="cell bold">{{ item.weight }}</div>
            <div class="cell bold">Type</div>
            <div class="cell bold">{{ item.type }}</div>
            <div class="cell bold">Comments</div>
            <div class="cell bold">{{ item.comments }}</div>
            <div class="cell bold">Date</div>
            <div class="cell bold">{{ item.date }}</div>
          </div>
          <div class="bottom">
            <img id="logo" src="assets/VX_International.png" />
            <p id="id">{{item.vx}}</p>
            <img id="qr" [src]="item.vx_logo" />
          </div>
        </div>
        <p class="code">
          {{item.code}}
        </p>
      </div>
    </div>
  </div>
</div>