@import "../../../theme/variables.scss";
@import "../../components/fabrics/fabrics.component.scss";

$top_bar_height: 70px;
$search_height: 45px;

ion-select {
  width: 120px;
  height: $search_height;
}

#hidden_container {
  position: absolute;
  top: 900%;
}

#topBar {
  display: flex;
  height: $top_bar_height;
  width: 100%;
  
  padding: 0px 10px;
  
  background-color: $primary_color;
}

.class {
  margin-right: 10px;
}

.searchTerm {
  width: 100%;
  height: $search_height;
  
  margin-top: 15px;
  padding: 15px;
  
  border: 2px solid $secondary_color;
  border-radius: 20px 0 0 20px;
  border-right: none;
  outline: none;
  
  color: $secondary_color;
}

.searchTerm:focus{
  color: $secondary_color;
}

.searchButton {
  width: 50px;
  height: $search_height;
  margin-top: 15px;
  
  border-radius: 0 20px 20px 0;
  
  color: white;
  background-color: $secondary_color;
  cursor: pointer;
}

.pdfButton {
  width: 50px;
  height: $search_height;
  margin-top: 15px;
  margin-right: 10px;
  
  border-radius: 20px 20px 20px 20px;
  
  color: white;
  background-color: $secondary_color;
  cursor: pointer;
}

.selector {
  margin-left: 10px;
  padding-right: 5px;
  
  border-radius: 20px;
  border: 2px solid $secondary_color;
  
  background-color: white;
}

.gridContainer {
  position: absolute;
  top: $top_bar_height;
  left: 0;
  right: 0;
  bottom: 0;
  
  height: auto;
  margin: 0px;
  
  border-top: 1px solid $primary_color; 
}