<form #form="ngForm">
  <div class="title_modal_bar">
    <p *ngIf="isThisModal">Edit Customer</p>
    <p *ngIf="!isThisModal">Create Customer</p>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Company Name</ion-label>
      <ion-input name="company" type="text" minlength="2" [(ngModel)]="company" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Company Department</ion-label>
      <ion-input name="department" type="text" minlength="2" [(ngModel)]="department" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Responsible</ion-label>
      <ion-input name="name" type="text" pattern="[a-zA-ZñÑ 0-9-_.,]*" minlength="2" [(ngModel)]="name" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email [Optional]</ion-label>
      <ion-input name="email" email="true" type="text" [(ngModel)]="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone number [Optional]</ion-label>
      <ion-input name="phone" type="text" [(ngModel)]="phone"></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding buttons">
    <ion-button *ngIf="isThisModal" [disabled]="form.invalid" size="large" color="primary" fill="outline"
      (click)="modifyCustomer()">Modify</ion-button>
    <ion-button *ngIf="isThisModal" [disabled]="form.invalid" (click)="removeCustomer()" size="large" color="danger"
      fill="outline">Remove</ion-button>
    <ion-button *ngIf="!isThisModal" (click)="addCustomer(form)" [disabled]="form.invalid" size="large" color="primary"
      fill="outline">Add</ion-button>
  </div>
</form>