<ion-content>
  <img class="vifrex_background" src="./assets/VX_Barcelona.png">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col id="pdf-area-order" class="ion-align-self-center" size-sm="12" size-md="11" size-lg="11">
        <ion-row class="row_container">
          <img class="vifrex_img" [src]=vifrex_image>
        </ion-row>
        <ion-row style="height: 10px"></ion-row>
        <ion-row class="po_info_container">
          <div class="title_container_bar">
            <h4>Purchase Order Information</h4>
          </div>
          <ion-col>
            <ion-item>
              <ion-label class="info_label">PO reference: </ion-label>
              <ion-label>{{po_reference}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="info_label">PO generation date: </ion-label>
              <ion-label>{{po_date}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="height: 10px"></ion-row>
        <ion-row>
          <ion-row class="fab_sup_container" style="overflow-y: auto;">
            <div class="title_container_bar">
              <h4>Fabric information</h4>
            </div>
            <ion-col>
              <ion-item class="ionItems">
                <ion-label class="info_label">Vifrex Code: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.vx"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Supplier code: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.supplier"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Supplier Fabric Code: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.code"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Composition: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.composition"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Construction: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.construction"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Width: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.width"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Weight: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.weight"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Type: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="fabric.type"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="width: 10px; height: 10px;"></ion-row>
          <ion-row class="fab_sup_container" style="overflow-y: auto;">
            <div class="title_container_bar">
              <h4>Supplier information</h4>
            </div>
            <ion-col>
              <ion-item class="ionItems">
                <ion-label class="info_label">Supplier Name: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.supplier_name"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Contact person: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.contact_person"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Supplier Code: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.supplier_code"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Country: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.country"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Address: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.address"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Postal code: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.postal_code"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Fax Number: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.fax"></ion-input>
              </ion-item>
              <ion-item class="ionItems">
                <ion-label class="info_label">Phone number: </ion-label>
                <ion-input type="text" style="text-align: center;" [(ngModel)]="supplier.phone_number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-row>
        <ion-row style="height: 10px"></ion-row>
        <ion-row class="summary_container">
          <div class="title_container_bar">
            <h4>Fabrics Summary</h4>
          </div>
          <div class="gridContainer">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%; font-size: large; font-weight: bolder; white-space: normal !important;"
              id="myGrid" class="ag-theme-balham" [columnDefs]="fabricsColumnDefs" [rowData]="fabricsRowData" 
              (gridReady)="fabricsOnGridReady(agGrid, $event)" [suppressRowClickSelection]="true" (cellValueChanged)="onCellValueChanged($event)"
              [suppressCellSelection]="true" [context]="context" [frameworkComponents]="frameworkComponents">
            </ag-grid-angular>
          </div>
          <ion-fab id="fabAdd" (click)="addRow('fabric')">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-row>
        <ion-row style="height: 10px"></ion-row>
        <ion-row class="summary_container">
          <div class="title_container_bar">
            <h4>PO Summary</h4>
          </div>
          <div class="gridContainer">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%; font-size: large; font-weight: bolder; white-space: normal !important;"
              id="myGrid" class="ag-theme-balham" [columnDefs]="summaryColumnDefs" [rowData]="summaryRowData" 
              (gridReady)="summaryOnGridReady(agGrid, $event)" [suppressRowClickSelection]="true" (cellValueChanged)="onCellValueChanged($event)"
              [suppressCellSelection]="true" [context]="context" [frameworkComponents]="frameworkComponents">
            </ag-grid-angular>
          </div>
        </ion-row>
        <ion-row style="height: 10px"></ion-row>
        <ion-row class="summary_container">
          <div class="title_container_bar">
            <h4>Payment terms</h4>
          </div>
          <div class="gridContainer">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%; font-size: large; font-weight: bolder;"
              id="myGrid" class="ag-theme-balham" [columnDefs]="paymentTermsColumnDefs" [rowData]="paymentTermsRowData"
              (gridReady)="paymentTermsOnGridReady(agGrid, $event)" [suppressRowClickSelection]="true"
              [suppressCellSelection]="true" [context]="context" [frameworkComponents]="frameworkComponents">
            </ag-grid-angular>
          </div>
          <ion-fab id="fabAdd" (click)="addRow('paymentTerm')">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-row>
        <ion-row style="height: 10px"></ion-row>
        <div class="buttons">
          <ion-button size="large" (click)="generatePurchaseOrder();" [disabled]=generateDisabled type="submit"
            color="primary" fill="outline">
            Save Purchase Order</ion-button>
            <ion-button size="large" (click)="removePurchaseOrder();" [disabled]=removeDisabled type="submit" color="danger"
            fill="outline">
            Remove Purchase Order</ion-button>
          <ion-button size="large" (click)="generatePDF();" [disabled]=PDFDisabled type="submit" color="primary"
            fill="outline">
            Generate PDF</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>