@import "../../../theme/variables.scss";

.vifrex_img {
  height: 100%;
  width: 55%;
  opacity: 1;
}

ion-grid {
  padding: 0;
  margin: 0;
  height: 100%;
}

ion-row {
  height: 100%;
  padding: 15px;
}

$top_bar_height: 70px;

.row_container {
  display: flex;
  flex-direction: column;
  height: calc(30vh - 48px);
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  align-content: center;
}

.title_container_bar {
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.po_info_container {
  display: flex;
  height: calc(24vh - 39px);
  padding: 10px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: stretch;
  text-align: right;
  overflow-y: auto;
}

.fab_sup_container {
  display: flex;
  height: calc(65vh - 104px);
  width: 48%;
  padding: 10px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: stretch;
  text-align: right;
}

.summary_container {
  display: flex;
  height: calc(25vh - 40px);
  padding: 10px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: stretch;
  text-align: right;
}

.table_container {
  display: flex;
  height: calc(30vh - 48px);
  padding: 10px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: stretch;
  text-align: right;
}

.gridContainer {
  height: 90%;
  width: 100%;
}

.info_label {
  font-size: 1em;
  font-weight: 900;
  width: 50%;
}

#fabAdd {
  position: relative;
  bottom: 40px;
  left: 95%;
}

#fabCalculate {
  position: relative;
  bottom: 0px;
  left: 95%;
}

.ionItems {
  height: 50px;
}

.cell-wrap-text {
  white-space: normal !important;
}

.table {
  border-collapse: collapse;
  border-style: hidden;

  ion-col:first-child {
    background-color: black;
    font-weight: bold;
    color: white;
  }

  ion-col {
    width: fit-content;
    border: 0;
    border-bottom: 0;
    border-right: 0;
    text-align: center;
    font-size: x-large;
  }

  ion-row {
    height: 50px;
  }

  ion-col:last-child {
    font-weight: bold;
    color: black;
  }
}
